#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Instagram
Comment=ins
Exec=pwa-run akpamiohjfcnimfljfndmaldlcfphjmp
Icon=chrome-akpamiohjfcnimfljfndmaldlcfphjmp-Default
StartupWMClass=chrome-akpamiohjfcnimfljfndmaldlcfphjmp-Default
Terminal=false
StartupNotify=true
Categories=Network;WebBrowser;
