#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Shopee
Exec=pwa-run bfjhldiocdliefanlmgggfmbjgmonjce
Icon=chrome-bfjhldiocdliefanlmgggfmbjgmonjce-Default
StartupWMClass=chrome-bfjhldiocdliefanlmgggfmbjgmonjce-Default
Terminal=false
StartupNotify=true
Categories=Network;WebBrowser;
